// Styling

$icon-size: 2rem;
$icon-margin: 1.75rem;

$icon-size-large: 4.375rem;

.custom-input-margin {
  margin-left: $icon-size + $icon-margin;
}

.custom-input-margin-large {
  margin-left: $icon-size-large + $icon-margin;
}

.custom-input-margin-large-sm {
  @include media-breakpoint-up(sm) {
    margin-left: $icon-size-large + $icon-margin;
  }
}

.custom-input {
  // Design
  align-items: center;
  display: flex;

  .icons {
    line-height: 0;
    margin-right: $icon-margin;

    [class^='icon-'] {
      height: $icon-size;
      width: $icon-size;
    }

    &.large {
      [class^='icon-'] {
        height: $icon-size-large;
        width: $icon-size-large;
      }
    }
  }

  // Functionality
  .icons [class^='icon-'] {
    display: none;
  }

  [type='checkbox'],
  [type='radio'] {
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
    position: absolute;

    & + .icons {
      .icon-unchecked {
        display: inline;
      }
    }

    &:disabled {
      & + .icons {
        .icon-unchecked {
          opacity: .5;
        }
      }
    }

    &:checked {
      & + .icons {
        .icon-unchecked {
          display: none;
        }

        .icon-checked {
          display: inline;
        }
      }

      &:disabled {
        & + .icons {
          .icon-checked {
            // display: none;
            opacity: .5;
          }
        }
      }
    }
  }
}
