// Functionality

.custom-input {
  .icons [class^='icon-'] {
    display: none;
  }

  [type='checkbox'],
  [type='radio'] {
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;

    & + .icons .icon-unchecked {
      display: inline;
    }

    &:disabled {
      & + .icons .icon-unchecked {
        display: none;
      }

      & + .icons .icon-unchecked-disabled {
        display: inline;
      }
    }


    &:checked {
      & + .icons .icon-unchecked {
        display: none;
      }

      & + .icons .icon-checked {
        display: inline;
      }

      &:disabled {
        & + .icons .icon-checked {
          display: none;
        }

        & + .icons .icon-unchecked-disabled {
          display: none;
        }

        & + .icons .icon-checked-disabled {
          display: inline;
        }
      }
    }
  }
}

// Styling

$icon-size: 2rem;
$icon-margin: 1.75rem;

$icon-size-large: 4.375rem;

.custom-input {
  align-items: center;
  display: flex;

  .icons {
    line-height: 0;
    margin-right: $icon-margin;

    [class^='icon-'] {
      width: $icon-size;
      height: $icon-size;
    }

    &.large {
      [class^='icon-'] {
        width: $icon-size-large;
        height: $icon-size-large;
      }
    }
  }
}

.custom-input-margin {
  margin-left: $icon-size + $icon-margin;
}

.custom-input-margin-large {
  margin-left: $icon-size-large + $icon-margin;
}

.custom-input-margin-large-sm {
  @include media-breakpoint-up(sm){
    margin-left: $icon-size-large + $icon-margin;
  }
}
