.svg-input {
  display: flex;
  align-items: center;

  .svg-icons svg {
    display: none;
  }

  input[type="checkbox"], input[type="redio"] {
    visibility: hidden;

    & + .svg-icons .svg-unchecked{
      display: inline;
    }

    &:disabled {
      & + .svg-icons .svg-unchecked {
        display: none;
      }

      & + .svg-icons .svg-unchecked-disabled {
        display: inline;
      }
    }


    &:checked {
      & + .svg-icons .svg-unchecked {
        display: none;
      }

      & + .svg-icons .svg-checked {
        display: inline;
      }

      &:disabled {
        & + .svg-icons .svg-checked {
          display: none;
        }

        & + .svg-icons .svg-unchecked-disabled {
          display: none;
        }

        & + .svg-icons .svg-checked-disabled {
          display: inline;
        }
      }
    }
  }


}
