// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

// Basics

html {
  @include font-smoothing(antialiased);
}

ul {
  .spaced {
    li {
      line-height: 1.85rem;
    }
  }
}

h2 {
  font-size: $font-size-37;
}

h5 {
  font-size: 1rem;
}

// Custom italic font - override defaults
i,
.i {
  font-family: $font-family-sans-serif-italic;
  font-style: normal;
}

// Custom bold font - override defaults
b,
strong,
.strong {
  font-family: $font-family-sans-serif-bold;
  font-weight: normal;
}

.strike-through {
  text-decoration: line-through;
}

// Jumbotron

.jumbotron {
  &.icpa-18 {
    background-image: url('../img/orlando-eola.jpg');
    // background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    color: $white;

    h1 {
      color: $white;
    }

    .btn {
      &.btn-warning {
        color: $font-color;
      }
    }

    hr {
      border-top-color: $white;
      opacity: .2;
    }

    p {
      color: $white;
      font-family: $font-family-sans-serif-bold;
      line-height: 1.6rem;
      opacity: .9;
    }

    .btn-link {
      color: $brand-warning;
    }


    .grey {
      color: $white;
      font-family: $font-family-sans-serif;
      opacity: .4;
    }
  }
}

.container-wrapper {

  // margin-bottom: $jumbotron-padding;

  .grey {
    color: $white;
    font-family: $font-family-sans-serif;
    opacity: .2;
  }

  &.container-wrapper-primary-darker {
    background-color: $brand-primary-darker;
    color: $white;

    a {
      color: $brand-warning;

      &.btn.btn-warning {
        color: $font-color;
      }
    }

    .btn-link {
      color: $brand-warning;
    }

    h1,
    h2 {
      color: $white;
    }

    .dark {
      color: $font-color-dark;
    }

    .organization {
      color: rgba(255, 255, 255, .4);
      font-size: $font-size-21;
    }

    hr {
      border-top-color: darken($font-color, 5%);
    }
  }

  &.container-wrapper-primary-darkest {
    background-color: rgba(58, 80, 105, 1);
    color: $font-color-dark;

    a {
      color: $brand-warning;
    }
  }

  &.container-wrapper-gray-lighter {
    background-color: rgba($gray-lighter, .5);
  }

  &.e {
    .container {
      position: relative;

      &::before {
        @include media-breakpoint-up(md) {
          content: '';
        }

        background-image: url('../img/e.svg');
        background-position: center right;
        background-repeat: no-repeat;
        background-size: contain;
        bottom: -2.5rem;
        left: 0;
        position: absolute;
        right: 15px;
        top: 0;
      }
    }
  }

  .nav-tabs {
    border-bottom: 0;

    .nav-link {
      border-radius: 0;
      border-width: 0;
      color: $white;
      margin-right: 6rem;

      &.active {
        background-color: inherit;
        border-bottom: .25rem solid $brand-danger;
      }
    }

    .nav-item {
      margin-bottom: 0;
    }
  }

  .nav-link {
    padding: 1.1rem 0;
  }
}

.media.media-committee {
  color: #999;
  font-size: .75rem;

  img {
    border-radius: 2rem;
    height: 4rem;
    width: 4rem;

    @include media-breakpoint-up(md) {
      border-radius: 3rem;
      height: 6rem;
      width: 6rem;
    }
  }

  h5 {
    @include media-breakpoint-up(md) {
      margin-top: .8rem;
    }

    font-family: $font-family-sans-serif-bold;
    margin-top: .4rem;
  }
}

// Menu

.header {
  height: 0;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1000;

  .open-menu-button {
    @include media-breakpoint-down(lg) {
      top: 4.6rem;
    }

    @include media-breakpoint-down(md) {
      top: 3.65rem;
    }

    @include media-breakpoint-down(sm) {
      top: 5.5rem;
    }

    @include media-breakpoint-down(xs) {
      top: 2.8rem;
    }

    background-color: $brand-primary-darkest;
    border-radius: 50%;
    color: $white;
    height: $menu-icon-size;
    line-height: $menu-icon-size * .95;
    position: absolute;
    right: 15px;
    text-align: center;
    top: 5rem;
    width: $menu-icon-size;

    .svg-icon {
      font-size: 1.5625rem;
      vertical-align: middle;
    }
  }

  .menu-glass-panel {
    @include transition(background-color $duration-fast ease-out);
    background-color: rgba(0, 0, 0, 0);
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1010;

    .menu {
      @include translate ($menu-width, 0);
      @include transition(all $duration-fast ease-out);

      @include media-breakpoint-up(md) {
        @include translate ($menu-width-md, 0);
        width: $menu-width-md;
      }

      background-color: $gray-lighter;
      bottom: 0;
      color: $brand-primary-darker;
      position: absolute;
      right: 0;
      top: 0;
      width: $menu-width;

      .scroll-panel {
        padding: $menu-padding * .75 $menu-padding;
        padding-bottom: 0;
      }

      .section-account {
        background-color: $white;
        margin-bottom: 0;
        margin-left: -$menu-padding;
        margin-right: -$menu-padding;
        margin-top: -$menu-padding * .75;
        padding: $menu-padding;
        padding-bottom: $menu-padding * .75;
        padding-top: $menu-padding * .75;

        .username {
          font-size: $font-size-28;
        }

        .organization {
          font-size: $font-size-12;
          font-style: italic;
        }
      }

      .section-status {
        font-size: $font-size-12;
        margin-left: -$menu-padding;
        margin-right: -$menu-padding;
        padding: 1.85rem $menu-padding;
      }

      .section-navigation {
        font-family: $font-family-display-bold;
        font-size: $font-size-28;
      }
    }
  }

  &.menu-opened {
    .menu-glass-panel {
      background-color: rgba($brand-primary, .8);
    }

    .menu {
      @include translate (0, 0);
    }
  }
}

// Footer

.footer {
  .bgsu-logo {
    opacity: .5;
    width: 100%;
  }
}

// Responsive Font Size

html {
  font-size: 12px;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 13px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 14px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 15px; //20px; //28px;
  }
}

@include media-breakpoint-up(xl) {
  html {
    font-size: 16px; //20px; //28px;
  }
}

// Line Height

@each $size, $lengths in $spacers {
  $length-x: map-get($lengths, x);
  .lh-#{$size} { line-height: $length-x; }
}

// Minor Things

dl,
dt {
  font-weight: normal;
}

.table {
  thead {
    font-family: $font-family-sans-serif-bold;
    font-size: $font-size-12;
    letter-spacing: .1rem;
    text-transform: uppercase;
  }
}

.scroll-panel {
  bottom: 0;
  left: 0;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 0;
}

// SVG Icons

.svg-icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  stroke: currentColor;
  stroke-width: 0;
  width: 1em;
}
