// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

// Basics

html {
    -webkit-font-smoothing: antialiased;
}

ul.spaced {
    li {
        line-height: 1.85rem;
    }
}

h2 {
    font-size: $font-size-37;
}

h5 {
    font-size: 1rem;
}

// Custom italic font - override defaults
i, .i {
    font-family: $font-family-sans-serif-italic;
    font-style: normal;
}

// Custom bold font - override defaults
b, strong, .strong {
    font-family: $font-family-sans-serif-bold;
    font-weight: normal;
}

// Jumbotron

.jumbotron {
    &.icpa-18 {
        background-image: url('../img/orlando-eola.jpg');
        // background-attachment: fixed;
        background-position: center center;
        background-size: cover;
        color: white;

        h1 {
            color: white;
        }

        .btn {
            &.btn-warning {
                color: $font-color;
            }
        }

        hr {
            border-top-color: rgba(255, 255, 255, 0.2);
        }

        p {
            color: rgba(255, 255, 255, 0.9);
            font-family: $font-family-sans-serif-bold;
            line-height: 1.6rem;
        }

        .btn-link {
            color: $brand-warning;
        }


        .grey {
            color: rgba(255,255,255, 0.4);
            font-family: $font-family-sans-serif;
        }
    }
}

.container-wrapper {

    // margin-bottom: $jumbotron-padding;

    .grey {
        color: rgba(255,255,255, 0.2);
        font-family: $font-family-sans-serif;
    }

    &.container-wrapper-primary-darker {
        background-color: $brand-primary-darker;
        color: white;

        a {
            color: $brand-warning;

            &.btn.btn-warning {
                color: $font-color;
            }
        }

        .btn-link {
            color: $brand-warning;
        }

        h1, h2 {
            color: white;
        }

        .dark {
            color: $font-color-dark;
        }

        .organization {
            font-size: $font-size-21;
            color: rgba(255, 255, 255, 0.4);
        }
    }

    &.container-wrapper-primary-darkest {
        background-color: rgba(58, 80, 105, 1);
        color: $font-color-dark;

        a {
            color: $brand-warning;
        }
    }

    &.container-wrapper-gray-lighter {
        background-color: rgba($gray-lighter, 0.5);
    }

    &.e {
        .container {
            position: relative;

            &:before {
                @include media-breakpoint-up(md){
                    content:"";
                }
                position: absolute;
                right: 15px;
                top: 0;
                bottom: -2.5rem;
                left: 0;
                background-image: url('../img/e.svg');
                background-position: center right;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }

    .nav-tabs {
        border-bottom: 0;

        .nav-link {
            border-width: 0;
            margin-right: 6rem;
            border-radius: 0;
            color: white;

            &.active {
                background-color: inherit;
                border-bottom: 0.25rem solid $brand-danger;
            }
        }

        .nav-item {
            margin-bottom: 0;
        }
    }

    .nav-link {
        padding: 1.1rem 0rem;
    }
}

.media.media-committee {
    color: #999999;
    font-size: 0.75rem;

    img {
        width: 4rem;
        height: 4rem;
        border-radius: 2rem;

        @include media-breakpoint-up(md){
            width: 6rem;
            height: 6rem;
            border-radius: 3rem;
        }
    }

    h5 {
        font-family: $font-family-sans-serif-bold;
        margin-top: 0.4rem;

        @include media-breakpoint-up(md){
            margin-top: 0.8rem;
        }
    }
}

// Menu

.header {
    height: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1000;

    .open-menu-button {
        position: absolute;
        right: 15px;
        top: 5rem;
        border-radius: 50%;
        width: $menu-icon-size;
        height: $menu-icon-size;
        line-height: $menu-icon-size*0.95;
        background-color: $brand-primary-darkest; //rgba(0,0,0,0.2);
        color: $gray-lighter; //$brand-primary;
        text-align: center;
        // transition: opacity $duration-normal ease-out;

        @include media-breakpoint-down(lg){
            top: 4.6rem;
        }

        @include media-breakpoint-down(md){
            top: 3.65rem;
        }

        @include media-breakpoint-down(sm){
            top: 5.5rem;
        }

        @include media-breakpoint-down(xs){
            top: 2.8rem;
        }

        .svg-icon {
            font-size: 1.5625rem;
            vertical-align: middle;
        }
    }

    .menu-glass-panel {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: none;
        background-color: rgba(0,0,0,0);
        @include transition(background-color $duration-fast ease-out);
        z-index: 1010;

        .menu {
            color: $brand-primary-darker;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: $menu-width;
            background-color: $gray-lighter;
            @include translate ($menu-width, 0);
            @include transition(all $duration-fast ease-out);

            @include media-breakpoint-up(md){
                width: $menu-width-md;
                @include translate ($menu-width-md, 0);
            }

            .scroll-panel {
                padding: $menu-padding*0.75 $menu-padding;
                padding-bottom: 0;
            }

            .section-account {
                background-color: white;
                margin-top: -$menu-padding*0.75;
                margin-left: -$menu-padding;
                margin-right: -$menu-padding;
                margin-bottom: 0;
                padding: $menu-padding;
                padding-top: $menu-padding*0.75;
                padding-bottom: $menu-padding*0.75;

                .username {
                    font-size: $font-size-28;
                }

                .organization {
                    font-size: $font-size-12;
                    font-style: italic;
                }
            }

            .section-status {
                margin-left: -$menu-padding;
                margin-right: -$menu-padding;
                padding: 1.85rem $menu-padding;
                font-size: $font-size-12;
            }

            .section-navigation {
                font-family: $font-family-display;
                font-size: $font-size-28;
            }
        }
    }

    &.menu-opened {
        .menu-glass-panel {
            background-color: rgba($brand-primary, 0.8);
        }

        .menu {
            @include translate (0, 0);
        }
    }
}

// Footer

.footer {
    .bgsu-logo {
        width: 100%;
        opacity: 0.5;
    }
}

// Responsive Font Size

html {
  font-size: 12px;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 13px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 14px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 15px; //20px; //28px;
  }
}

@include media-breakpoint-up(xl) {
  html {
    font-size: 16px; //20px; //28px;
  }
}

// Line Height

@each $size, $lengths in $spacers {
    $length-x: map-get($lengths, x);
    .lh-#{$size} { line-height: $length-x !important; }
}

// Minor Things

dl, dt {
    font-weight: normal;
}

.red {
    color: $brand-danger !important;
}

.table {
    thead {
        text-transform: uppercase;
        font-size: $font-size-12;
        font-family: $font-family-sans-serif-bold;
    }
}

.scroll-panel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}

// SVG Icons

.svg-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

// Custom form Inputs
